<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/ktv1707/Public/css/bootstrap.css">
    <script src="/ktv1707/Public/js/jquery.js"></script>
</head>
<style>
    .tips{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height:2px;
        background: #de742a;
        z-index: 9999;
    }
</style>
<script>
    $(function(){
        let tips = $('.tips');
        $(window).ajaxStart(function(){
            tips.animate({width:'80%'});
        });
        $(window).ajaxComplete(function(){
            tips.stop()
                .animate({width:'100%'})
                .queue(function(){
                    $(this).css('width',0);
                 })
        })

        $('.dropdown').on('click',function(){
            $('.dropdown-menu',this).slideToggle();
//            $(this).children('.dropdown-menu').slideToggle();
//            $(this).find('.dropdown-menu').slideToggle();
        })
    })

</script>
<body>
<div class="tips"></div>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ktv</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="<?php echo $title=='游戏管理'?'active':'' ;?>">
                    <a href="/ktv1707/index.php/gamemanage">游戏管理 </a>
                </li>

                <li class="<?php echo $title=='商店管理'?'active':'' ;?>">
                    <a href="/ktv1707/index.php/shopmanage">商店管理</a>
                </li>
                <li class="dropdown">
                    <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    歌曲管理
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/ktv1707/index.php/categorymanage/index">分类管理</a>
                         </li>
                        <li>
                            <a href="/ktv1707/index.php/singermanage/index">歌手管理</a>
                        </li>
                        <li>
                            <a href="#">歌曲管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>