<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/ktv1707/Public/js/rem.js"></script>
    <script src="/ktv1707/Public/js/jquery.js"></script>
    <script src="/ktv1707/Public/js/category.js"></script>
    <title></title>
</head>
<body>
<link rel="stylesheet" href="/ktv1707/Public/css/category.css">
<div class="game">
    <div class="header">
        <a href="javascript:history.back();">
            <div class="return"></div>
        </a>
        <p>歌手</p>
        <div class="aready">
            <a href="">已选歌曲</a>
        </div>
    </div>
    <ul class="nav">
        <li><div class="tu"></div><a href="">歌手</a></li>
        <li><a href="order">排行</a></li>
        <li><a href="often">常唱</a></li>
        <li><a href="recommend">推荐歌单</a></li>
    </ul>
    <div class="search">
        <div class="find"></div>
        <input type="text" placeholder="请输入你要搜索的歌手">
    </div>
    <ul class="ranger">
        <li>
            <a href="">
                <h4></h4>
            </a>
        </li>
        <!--<li style="background: url('/mktv/Public/img/nan1.png') no-repeat center/cover;">
            <a href="">
                <h4> 内地女歌手</h4>
            </a>
        </li>
        <li style="background: url('/mktv/Public/img/nvzhong.png') no-repeat center/cover;">
            <a href="">
                <h4> 内地偶像歌手</h4>
            </a>
        </li>
        <li style="background: url('/mktv/Public/img/nvzhong.png') no-repeat center/cover;">
            <a href="">
                <h4> 内地男歌手</h4>
            </a>
        </li>
        <li style="background: url('/mktv/Public/img/ndv.png') no-repeat center/cover;">
            <a href="">
                <h4> 港台歌手</h4>
            </a>
        </li>
        <li style="background: url('/mktv/Public/img/qcox.png') no-repeat center/cover;">
            <a href="">
                <h4> 内地偶像男歌手</h4>
            </a>
        </li>-->
    </ul>
</div>

</body>
</html>