<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/ktv1707/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/ktv1707/Public/css/index.css">
</head>
<body>
   <ul class="main">
       <li><a href="/ktv1707/index.php/category/index"></a></li>
       <li><a href="/ktv1707/index.php/game/index"></a></li>
       <li><a href="/ktv1707/index.php/shop/index"></a></li>
       <li><a href=""></a></li>
   </ul>
</body>
</html>