<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>播放列表</title>
    <link rel="stylesheet" href="/ktv1707/Public/css/playlist.css">
    <script src="/ktv1707/Public/js/rem.js"></script>
    <script src="/ktv1707/Public/js/jquery.js"></script>
</head>
<body>
<div class="game">
    <div class="header">
        <div class="return" onclick="history.back()"></div>
        <p>以点歌曲</p>
        <span>共26首</span>
    </div>

    <div class="main">
        <ul class="middle">
            <li>
                <div class="shadow"></div>
                <div class="num">
                    <a href="">
                        <img src="/ktv1707/Public/img/thumb.png" alt="">
                    </a>
                </div>
                <div class="song">
                    <span class="name">画 - 赵雷</span>
                    <span class="time">04:52</span>
                </div>
                <div class="add">
                    <div class="del rotate"></div>
                    <div class="tops"></div>
                </div>
            </li>
            <li>
                <div class="shadow"></div>
                <div class="num">
                    <a href="">
                        <img src="/ktv1707/Public/img/thumb.png" alt="">
                    </a>
                </div>
                <div class="song">
                    <span class="name">画 - 赵雷</span>
                    <span class="time">04:52</span>
                </div>
                <div class="add">
                    <div class="del rotate"></div>
                    <div class="tops"></div>
                </div>
            </li>
            <li>
                <div class="shadow"></div>
                <div class="num">
                    <a href="">
                        <img src="/ktv1707/Public/img/thumb.png" alt="">
                    </a>
                </div>
                <div class="song">
                    <span class="name">画 - 赵雷</span>
                    <span class="time">04:52</span>
                </div>
                <div class="add">
                    <div class="del rotate"></div>
                    <div class="tops"></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="/ktv1707/Public/js/playlist.js"></script>
</body>
</html>