<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/ktv1707/Public/js/rem.js"></script>
    <script src="/ktv1707/Public/js/jquery.js"></script>
    <script src="/ktv1707/Public/js/play.js"></script>
    <link rel="stylesheet" href="/ktv1707/Public/css/play.css">

    <title>Document</title>
</head>
<body>
<audio src="" id="audio"></audio>

<div class="game">
    <div class="header">
        <a href="javascript:history.back();">
            <div class="return"></div>
        </a>
        <p>画</p>
        <div class="aready">
        </div>
    </div>
    <ul class="lyrics">
        <li>你停在了这条我们熟悉的街</li>
        <li>把你准备好的台词全念一遍</li>
        <li>我还在逞强 说着谎</li>
        <li>也没能力遮挡 你去的方向</li>
        <li>至少分开的时候我落落大方</li>
        <li>我后来都会选择绕过那条街</li>
        <li>又多希望在另一条街能遇见</li>
        <li>思念在逞强 不肯忘</li>
        <li>怪我没能力跟随 你去的方向</li>
        <li>若越爱越被动 越要落落大方</li>
        <li>你还要我怎样 要怎样</li>
        <li>你突然来的短信就够我悲伤</li>
        <li>我没能力遗忘 你不用提醒我</li>
        <li>哪怕结局就这样</li>
        <li>我还能怎样 能怎样</li>
        <li>最后还不是落得情人的立场</li>
        <li>你从来不会想 我何必这样</li>
        <li>我慢慢地回到自己的生活圈</li>
        <li>我慢慢地回到自己的生活圈</li>
        <li>爱你到最后 不痛不痒</li>
        <li>留言在计较 谁爱过一场</li>
        <li>留言在计较 谁爱过一场</li>
        <li>你还要我怎样 要怎样</li>
        <li>你还要我怎样 要怎样</li>
    </ul>
    <ul class="options">
        <li>
            <div class="btn"></div>
            <span>原/伴</span>
        </li>
        <li>
            <div class="btn"></div>
            <span>切歌</span>
        </li>
        <li>
            <div class="btn play"></div>
            <span></span>
        </li>
        <li>
            <div class="btn"></div>
            <span>重唱</span>
        </li>
        <li>
            <div class="btn"></div>
            <span>录歌</span>
        </li>

    </ul>

    <footer>
        <div class=" yuyin voice">
            <div class="pic"><img src="/ktv1707/Public/img/ly_07.png" alt=""></div>
            <div class="tiao">
                <div class="select">
                    <div class="button"></div>
                </div>

            </div>
            <span class="ctime">00:00</span>/
            <span class="duration">04:52</span>
        </div>
        <div class=" yuyin voice">
            <div class="pic"><img src="/ktv1707/Public/img/ly_07.png" alt=""></div>
            <div class="tiao">
                <div class="select">
                    <div class="button"></div>
                </div>

            </div>
            <span>48</span>
        </div>
    </footer>
</div>

</body>
</html>