<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/ktv1707/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/ktv1707/Public/css/shop.css">
    <script src="/ktv1707/Public/js/jquery.js"></script>
    <script src="/ktv1707/Public/js/iscroll.js"></script>
    <script src="/ktv1707/Public/js/shop.js"></script>

</head>
<body>
   <header>
       <a href="javascript:history.back();"></a>
       <p>商店</p>
       <a></a>
   </header>
   <nav>
       <div class="wine active">
           <span>酒水</span>
           <span class="wineNum">0</span>
       </div>
       <div class="snack">
           <span>零食</span>
           <span class="snackNum">0</span>
       </div>
       <div class="bg"></div>
   </nav>

   <div class="wrapper winelist  active">
       <ul class="scroll">
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                      <div class="hot">
                          <img src="/ktv1707/Public/img/sd20.png" alt="">
                          <img src="/ktv1707/Public/img/sd20.png" alt="">
                          <img src="/ktv1707/Public/img/sd20.png" alt="">
                          <img src="/ktv1707/Public/img/sd20.png" alt="">
                      </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                      <div class="hot">
                          <img src="/ktv1707/Public/img/sd20.png" alt="">
                          <img src="/ktv1707/Public/img/sd20.png" alt="">
                          <img src="/ktv1707/Public/img/sd20.png" alt="">
                          <img src="/ktv1707/Public/img/sd20.png" alt="">
                      </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
       </ul>
   </div>
   <div class="wrapper snacklist">
       <ul class="scroll">
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">零食</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>20</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
           <li data="arr[i]">
               <div class="thumb">
                   <img src="/ktv1707/Public/img/sd3.png" alt="">
               </div>
               <ul class="data">
                   <li class="title">
                       <span class="sname">啤酒</span>
                       <div class="hot">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                           <img src="/ktv1707/Public/img/sd20.png" alt="">
                       </div>
                   </li>
                   <li class="price">
                       <span>¥</span>
                       <span class='pricenum'>10</span>
                       <span>/瓶</span>
                   </li>
                   <li class="option">
                       <span class="reduce"></span>
                       <span class="count">3</span>
                       <span class="plus"></span>
                   </li>
               </ul>
           </li>
       </ul>
   </div>
  <footer>
      <ul class="choose">
           <li>已选:</li>
           <div class="chooseList">

           </div>
           <li class="more">
               <div></div>
               <div></div>
               <div></div>
           </li>
      </ul>
      <div class="bottom">
          <div class="total">
              <span>合计: &nbsp;</span>
              <span class="totalNum">0</span>
              <span>&nbsp;RMB</span>
          </div>
          <a href="" class="shopSure">选好了</a>
      </div>
  </footer>
</body>
</html>